{% extends "base.html.twig" %}

{% block body %}

	<h1>Liste d'acteur</h1>
	<ul>
		{% for acteur in acteurs %}
			<li>{{acteur.id}}
				{{acteur.nom}}
				{{acteur.prenom}}

				<a href="{{ path('acteur_detail', {id: acteur.id}) }}">En savoir plus</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
